
    <div style="
    width: 50vw;
    margin: 0 auto;">
        <div  style="padding: 9vh 15vw 9vh 16vw;
                     margin: 0 auto;
                    background: #CD5C5C;">
            MY COMPANY
        </div>
    </div>
        
    <div style="width: 50vw; margin: 10px auto;">
        <p>Hi <%= name %>,</p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi consequuntur distinctio accusantium dolorem architecto ullam delectus necessitatibus non consequatur mollitia odio, quidem neque ab ratione numquam soluta voluptate aliquid quis error temporibus. Quibusdam eum maiores, nostrum aliquam soluta provident quos totam est commodi libero repudiandae quisquam, tenetur et asperiores aliquid!
        </p>
        <p>Cheers</p>
        <p>My Company</p>
    </div>